// body {
//   background-image: url(http://il2.picdn.net/shutterstock/videos/15747715/thumb/1.jpg);
//   background-size: 100%;
// }

.footer {
height: 60px;
padding: 20px 
}

.navbar-item {
  margin: 10px;
}

#me {
  width: 500px;
  height: 600px;
  border-radius: 50%
}

.columns { 
  width: 100%;     
}

.is-two-fifths {
 margin-bottom: 100px;
}