$border: double black;

body {

  .footer {
height: 60px;
padding: 20px 
}

.navbar-item {
  margin: 10px;
}

#me {
  width: 500px;
  height: 600px;
  border-radius: 50%
}

.columns { 
  width: 100%;     
}

.is-two-fifths {
 margin-bottom: 100px;
}

.tile, .field {
  border: $border;
}
button {
  width: 100%;
}
}
