---
title: Welcome to Middleman
---



<section class="hero  is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
 
 </div>
 <div class="navbar-end">
      <div class="navbar-item">
      <a href="https://github.com/KarinaTitov">
        <img src="images/GitHub_logo.png"/>
      </a>  
</div>
 <div class="navbar-item">
      <a href="https://www.patreon.com/preview/9c1f1b1edbd1459fa4cdf214f83d38f1">
        <img src="images/patreon.png"/>
      </a> 
      </div>
    </div>
 
</nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child box animate__animated animate__bounceInLeft animate__delay-2s">
          <p class="animate__animated animate__bounceInLeft"></p>
        </article>
        <article class="tile is-child box animate__animated animate__bounceInLeft animate__delay-3s">
          <!-- Put any content you want -->
        </article>
      </div>
      <div class="tile is-parent" class="animate__animated animate__backInDown">
        <img id="me" class="animate__animated animate__backInDown" src="images/me.jpg"/>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <!-- Put any content you want -->
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <!-- Put any content you want -->
    </article>
  </div>
</div>
</div>
  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <section class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Copyright 2020</strong>.
    </p>
  </div>
</section>
  </div>
</section>
