---
title: Welcome to Middleman
---



<section class="hero  is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
    <a class="navbar-item" href="https://karinatitov.com/">
      <img src="images/brand.jpg" width="200" height="50">
    </a>
    
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
    </div>

     <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <a href="https://github.com/KarinaTitov">
                <img src="images/GitHub_logo.png"/>
            </a>  
          </div>
          <div class="navbar-item">
            <a href="https://www.patreon.com/preview/9c1f1b1edbd1459fa4cdf214f83d38f1">
              <img src="images/patreon.png"/>
            </a> 
          </div>
        </div>
    </nav>
</div>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child box animate__animated animate__bounceInLeft animate__delay-2s">
          <p class="animate__animated animate__bounceInLeft">“There is a poetic nature to minimalism that is about striking a balance between full and empty.” ― 
Jennie C. Jones</p>
<br/>
<p>“I am a minimalist. I like saying the most with the least.”
― Bob Newhart</p>
<br/>

<strong><p> Minimalism is one of the most influential styles today – from design, to architecture, to music, to literature.</p></strong>
        </article>
        <article class="tile is-child box animate__animated animate__bounceInLeft animate__delay-3s">
        <strong><p>About me</p></strong>
          <p>Newly graduated full stack web developer, certified by the University of Texas coding boot camp, proficient in several programming languages. Successful at improving usability, performance and  functionality by applying skills in HTML, CSS and JavaScript. While working on group projects I participated in agile web development by providing daily report of my work. Collaborated with co-workers to establish backend  conventions, principles, and patterns. Collaborative and hardworking team player  with excellent critical thinking skills, outside-the-box thinking, and taking a  systematic approach. </p>
        </article>
      </div>
      <div class="tile is-parent" class="animate__animated animate__backInDown">
        <img id="me" class="animate__animated animate__backInDown" src="images/me.jpg"/>
      </div>
    </div>
    
  </div>
  <div class="tile is-parent animate__animated animate__bounceInRight animate__delay-4s">
    <article class="tile is-child box">
      <div class="field">
  <label class="label">Name</label>
  <div class="control">
    <input class="input" type="text" placeholder="Text input">
  </div>
</div>


<div class="field">
  <label class="label">Email</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input is-danger" type="email" placeholder="Email input" value="hello@">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-exclamation-triangle"></i>
    </span>
  </div>
  <p class="help is-danger">This email is invalid</p>
</div>



<div class="field">
  <label class="label">Message</label>
  <div class="control">
    <textarea class="textarea" style="height: 274px;" placeholder="Textarea"></textarea>
  </div>
</div>

<div class="field is-grouped">
  <div class="control" style="width: 100%">
    <button class="button" style="width: 100%">Send</button>
  </div>

</div>
    </article>
  </div>
</div>
</div>
  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <section class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Copyright 2020</strong>.
    </p>
  </div>
</section>
  </div>
</section>
